* {
  font-family: didot, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(coding-backdrop.jfif);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

header {
  border: 2px solid black;
  width: 100%;
  padding: 35px;
  font-size: 50px;
  background-color: darkolivegreen;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

h1 {
  color: antiquewhite;
  font-size: 35px;
  float: left;
}

li {
  list-style: none;

  font-size: 25px;
}

a {
  color: antiquewhite;
}

.nav {
  justify-content: space-between;
  float: right;
}

#info {
  border: 2px solid black;
  padding: 40px;
  border-radius: 20%;
  background-color: darkolivegreen;
  margin-top: 50px;
}

h2 {
  color: antiquewhite;
  font-size: 40px;
  padding: 15px;
}
p {
  color: antiquewhite;
  font-size: 30px;
}
#projects {
  margin-top: 50px;
  margin-bottom: 50px;
}

.secondarypics {
  display: flex;
  justify-content: center;

  margin-top: 50px;
}

#footer {
  display: flex;
  background-color: darkolivegreen;
  margin-top: 40px;
  border: 2px solid black;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  padding: 20px;
  justify-content: center;
}

#bottom {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

footer ul li {
  font-size: 35px;
}

a:link {
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  header {
    background-color: rgb(127, 30, 30);
  }

  #footer {
    background-color: rgb(127, 30, 30);
  }
  #info {
    background-color: rgb(127, 30, 30);
  }
}

@media screen and (max-width: 768px) {
  header {
    background-color: rgb(15, 178, 167);
  }

  #footer {
    background-color: rgb(15, 178, 167);
  }

  #info {
    background-color: rgb(15, 178, 167);
  }
}
