* {
  font-family: didot, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../coding-backdrop.jfif);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

header {
  border: 2px solid black;
  width: 100%;
  padding: 35px;
  font-size: 50px;
  background-color: rgb(106 176 2);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.large {
  max-width: 33%;
}

h1 {
  color: antiquewhite;
  font-size: 35px;
  align-self: center;
}

.list {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  justify-content: space-between;
  font-size: 25px;
}

a {
  color: antiquewhite;
}

.nav {
  min-width: 33%;
  align-self: center;
}

#info {
  border: 2px solid black;
  padding: 40px;
  border-radius: 20%;
  background-color: rgb(106 176 2);
  margin-top: 50px;
}

h2 {
  color: antiquewhite;
  font-size: 40px;
  padding: 15px;
}
p {
  color: antiquewhite;
  font-size: 30px;
}
#projects {
  margin-top: 50px;
  margin-bottom: 50px;
}

.secondarypics {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#footer {
  display: flex;
  background-color: rgb(106 176 2);
  margin-top: 40px;
  border: 2px solid black;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  padding: 20px;
  justify-content: center;
}

#bottom {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

footer ul li {
  font-size: 35px;
}

a:link {
  text-decoration: none;
}
/* Settings for phone screen. */
@media screen and (max-width: 992px) {
  header,
  #footer,
  #info {
    background-color: black;
  }
  .small {
    display: block;
  }
  .large {
    display: none;
  }
  .secondarypics {
    flex-wrap: wrap;
  }
}
/* Settings for a small desktp or ipad  */
@media screen and (max-width: 768px) {
  header,
  #footer,
  #info {
    background-color: rgb(65 56 2);
  }
  .large {
    display: none;
  }
  .small {
    display: block;
  }
  .list {
    flex-flow: column;
  }
  .avatar {
    width: 33.33%;
  }
  h1 {
    font-size: 25px;
  }
}
/* Settings for desktop screen. */
@media screen and (min-width: 993px) {
  .small {
    display: none;
  }
  header {
    width: 100%;
  }
}
